@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ladph6');
  src:  url('../fonts/icomoon.eot?ladph6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ladph6') format('truetype'),
    url('../fonts/icomoon.woff?ladph6') format('woff'),
    url('../fonts/icomoon.svg?ladph6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-1-1:before {
  content: "\e91d";

}
.icon-Arrow-2-3:before {
  content: "\e91c";

  
}
.icon-Left-carousel:before {
  content: "\e91a";
  color: #fff;
}
.icon-Right-carousel:before {
  content: "\e91b";
}
.icon-menu_icon:before {
  content: "\e918";
  color: #fff;
}
.icon-menuIcon:before {
  content: "\e919";
  color: #fff;
}
.icon-Menu:before {
  content: "\e917";
  color: #fff;
}
.icon-Arrow__right1:before {
  content: "\e916";
 
}
.icon-footer__vektor:before {
  content: "\e915";
  color: #fff;
}
.icon-vektor__half:before {
  content: "\e914";
  color: #e5e5e5;
}
.icon-Arrow__right:before {
  content: "\e912";
 
}
.icon-Arrow__left:before {
  content: "\e913";
 
}
.icon-playmarket:before {
  content: "\e910";
  color: #fff;
}
.icon-apple:before {
  content: "\e911";
  color: #fff;
}
.icon-first__icon:before {
  content: "\e905";
 
}
.icon-sec__icon:before {
  content: "\e90e";
 
}
.icon-third___icon:before {
  content: "\e90f";
 
}
.icon-menu:before {
  content: "\e90d";
}
.icon-paint-bucket:before {
  content: "\e906";
}
.icon-magic-wand:before {
  content: "\e907";
}
.icon-plane:before {
  content: "\e908";
}
.icon-joy:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-arc:before {
  content: "\e90b";
}
.icon-diamond:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e900";
}
.icon-look:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
.icon-portfolio:before {
  content: "\e904";
}
